body {
          font-size: 24px;
          font-family: 'Raleway', sans-serif;
          color: white;
          background-color:  rgb(0,0,0);
          }
    
          header, footer {
          background-color: rgb(255, 0,0);
          font-size: 24px;
          color: #fff;
          text-align: center;
          padding: 10rem;
          margin: 1280px;
        }
        
        h1 {
          font-size: 24px;
          margin:1080px;
          height: 100px;
          line-height: 2px;
        }


        .container{
          margin: 1 rem auto;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          max-width: 1048px;
        }
     
        img {
         width: 250px;
         height: auto;
         margin: .5rem;
          }
      
          figcaption {
            font-size: large;}
         
          