body {
          font-size: 1.0rem;
          font-family: 'san serif';
          line-height: 1.5px;
          color: white;
          background-color:  black;
        }
        
  
        
         h2, header, footer {
          background-color: red;
          color: white;
          text-align: center;
          padding: 5rem;
          margin: 10rem;
        } 
        .gridbox {
          display: grid;
          grid-column: flex 1 1 auto;
          background-color:black;
          justify-content: flex 1 1 auto;
          max-width: auto;
          gap: .5rem;
          padding: 1rem;
          height: auto;
          margin: auto;
          border-top: 1px;
          border-right: 1px;
          border-left: 1px; 
        
      }
      
    
      .gallery-title {
          text-align: center;
          font-family: 'sans-serif';
          font-weight: bold;
          font-size: 5rem;
          background: red;
          border-top: 1px;
          border-bottom: 1px;
          color: white;
          text-shadow: 3px 3px 5px black;
          padding: .5rem;
      }
      
      figure{
          display: grid;
          background-color:black;
          padding: 1.0rem;
          margin: auto;
          display: grid;
      }
      
      img[data-src] {
          filter: blur(0.2em);
          width: 100%;
          height: auto;
      }
      
      img {
           filter: blur(0em);
          transition: filter 1.5s;
          width: 100%;
          height: auto;
      }
      
       figcaption {
          font-family: 'sans-serif';
          color: white;
          text-align: center;
          font-size: .25rem;
          font-weight: bold;
          background:red;
          padding: .5rem;
          text-shadow: 3px 3px 5px black;
       }