h1{
          font-size:35px;
          text-align: center;
          font-family: 'Nunito', sans-serif;
          color: white;
}
body {
  font-size:25px;
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color:  black;
  background-attachment: fixed;
}

        header, footer {
          background-color: red;
          color:white;
          text-align: center;
          padding: 1rem;
          height: 9rem;
          }

        header img {
          margin-left: 83%;
          margin-top:-110px;
          width:290px;
          height:300px;
                      }
        
           h2{
                    margin: 10px;
                    padding: 1rem;
                    text-align: center;
                    background-color:black;
                    color: white;                 
          }
          h3{
                    margin: 10px;
                    padding: 1rem 1rem 1rem 1rem;
                    text-align: center;
                    background-color: grey;
                    color: white;                 
          }
                
main {
          background-color: grey;
          color: light white;
          box-shadow: 2px 2px 5px 10px;
          padding: 1rem 0.5rem;
          max-width: 1080px;
          margin: 0 auto;
        }
        
        .cards {
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center; 
          align-content: center;
        }
        
        .p{
          display: grid; 
          justify-items: center; 
          text-align: center;
          width: 97%;
          margin: 0.25rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
          background-color: #E5E4D9;
        }

        .section{
          background-color: grey;
          align-content: center;
          border: 1px solid  white;
        }
        div.cards section {
          display: grid; 
          justify-items: center; 
          width: 85%;
          margin: .55rem;
          border: 1px solid rgba(0, 0, 0, 0.3);
          background-color: #E5E4D9;
        }
        
img {
 align-self: center;
 max-height: 200px;
 margin: 1rem;
 border: 1px solid black;
 box-shadow: 3px 3px 10px black;
}

